In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.778739 -0.471796
1    a  two -1.374445  0.534842
2    b  one  0.549564  0.943184
3    b  two -0.646594 -0.756574
4    a  one -0.534541 -0.222554

In [3]:
df1 = df.groupby(by=['key1','key2']).sum()
df1

              data1     data2
key1 key2
a    one   0.244198 -0.694349
     two  -1.374445  0.534842
b    one   0.549564  0.943184
     two  -0.646594 -0.756574